html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Archivo Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #b1b4bd;
  font-size: 18px;
  line-height: 1.2;
  background-color: #323a45;
}

a {
  color: #b1b4bd;
  font-weight: 500;
}

a:hover {
  color: #02aaaa;
}

.header-background {
  position: static;
  display: block;
  top: 0;
  height: auto;
  overflow: hidden;
  min-height: 92vh;
  padding-bottom: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a626d8c), to(#3a3e44bd)), url(../img/impuesto-a-las-ganancias-personas-juridicas.jpg);
  background-image: linear-gradient(180deg, #5a626d8c, #3a3e44bd), url(../img/impuesto-a-las-ganancias-personas-juridicas.jpg);
  flex-direction: column;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  white-space: normal;
  object-fit: fill;
  -o-object-fit: fill;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 2px;
  z-index: 1;
  -webkit-align-self: auto;
  align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  -webkit-box-ordinal-group: 1;
  order: 0;
  -ms-flex-order: 0;
  background-color: #01084b94;
}

.navbar-brand {
  font-size: 1.8rem;
  color: white;
}

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #ffffff;
}

.navbar-toggler span + span {
  width: 22px;
  margin-top: 4px;
}

.navbar-toggler span + span + span {
  width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1rem;
  font-size: 1.2rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #ffffff;
}

.btn {
  background-color: #74f001;
  color: white;
}

.headline {
  color: white;
  font-weight: bold !important;
  width: 80%;
  margin-top: 180px;
  background-color: #0d198a98;
}

.colum-right {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 39, 59, 0.33)), to(rgba(12, 39, 59, 0.55))), url(../img/oscar-kierszembaun.jpg);
  background-image: linear-gradient(180deg, rgba(12, 39, 59, 0.33), rgba(12, 39, 59, 0.55)), url(../img/oscar-kierszembaun.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  object-fit: cover;
  -o-object-fit: cover;
}

.colum-left .titulo {
  margin-top: 80px;
  padding: 2rem 2rem 0rem 2rem;
}

.texto {
  margin-top: 15px;
  padding: 2rem;
  text-align: justify;
}

.capacitaciones-left {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 39, 59, 0.33)), to(rgba(12, 39, 59, 0.55))), url(../img/capacitaciones-oktributario.jpg);
  background-image: linear-gradient(180deg, rgba(12, 39, 59, 0.33), rgba(12, 39, 59, 0.55)), url(../img/capacitaciones-oktributario.jpg);
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  object-fit: cover;
  -o-object-fit: cover;
}

.capacitaciones_principal {
  margin-top: 10px;
  padding: 2rem 1rem 0 2rem;
}

.capacitaciones_titulo {
  margin: 0 0 0 2rem;
  font-size: 1.8rem;
}

.capacitaciones_titulo2 {
  margin: 1rem 0 0 2rem;
  font-size: 1.8rem;
}

.texto_capacitaciones {
  margin-top: 15px;
  padding: 0 1rem 1rem 2rem;
  text-align: justify;
}

.texto_capacitaciones2 {
  margin-top: 15px;
  padding: 0 1rem 1rem 2rem;
  text-align: justify;
}

.far {
  font-size: 4rem;
  color: #74f001;
}

.capacitaciones-online1 .far {
  padding: 0rem 2rem 2rem 2rem;
}

.capacitaciones-online2 .far {
  padding: 0rem 0rem 0rem 2rem;
}

.suscripcion {
  width: 100%;
  border-radius: 0;
  border: 0;
  color: #FFF;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font: italic bold 1.7rem Georgia, Serif;
}

#heroSuscripcion {
  margin-top: 20px;
  padding: 2rem;
  background-color: white;
  color: #272525;
}

.fa-linkedin-in, .fa-user-tie, .fa-users, .fa-check-double {
  font-size: 4rem;
  margin: 2rem;
  color: #74f001;
}

h5 {
  font-weight: 500 !important;
}

.preguntas {
  width: 80%;
  margin: 0 auto;
}

.textoAcordion {
  color: #8b8888;
}

.social a {
  font-size: 4.8em;
  padding: 2rem;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube {
  color: #74f001;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-youtube:hover {
  color: #8ffc01;
  font-size: 150%;
}

.ir_arriba .fas {
  font-size: 33px;
  margin-top: 10px;
  color: #74f001;
}

.ir_arriba {
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 55px;
  right: 50px;
  -webkit-text-decoration: #000;
          text-decoration: #000;
  text-align: center;
  line-height: 50px;
  background-color: #323a45c5;
}

.btn_escribenos {
  color: #fff;
  text-decoration: none;
}

.escribenos-der {
  min-height: 100vh;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  object-fit: cover;
  -o-object-fit: cover;
}

.seccion-escribenos {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 2.8rem;
  font-weight: 500;
}

.escribenos-izq {
  padding: 0rem 3rem 0rem 0rem;
  font-size: 1rem;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.tlf-mail-link {
  color: white;
  font-weight: bold;
}

#formulario-escribenos {
  margin-top: 40px;
}

#formulario-escribenos .form-control {
  background: #2e353f;
  border: none;
  border-radius: .3rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 300;
  outline: medium none;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.2;
  height: auto;
  width: 100%;
  color: white;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: left;
}

#formulario-escribenos area-de-texto .form-control {
  min-height: 8rem;
}

#formulario-escribenos .sub-texto {
  color: #939da5;
  position: relative;
  font-size: 0.9rem;
  right: .5rem;
}

#formulario-valido {
  display: inline-block;
  width: 100%;
}

.copyright {
  position: relative;
  left: 0rem;
  bottom: 0px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */